.input-field {
  position: relative;

  &__label {
    margin-bottom: 4px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 8px 1.2rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    min-height: 40px;

    &:focus {
      outline: none;
      border-color: var(--black);
    }

    &::placeholder {
      font-size: 1.4rem;
      color: var(--dark-gray);
      font-family: inherit;
    }
  }

  &__end-adornment {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
    color: var(--dark-gray);
    font-size: 1.4rem;
    width: max-content;
    height: 2.4rem;
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 1.2rem;
    color: var(--red);
  }
}
