.textarea-field {
  position: relative;

  &__label {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
  }

  &__textarea {
    width: 100%;
    padding: 8px 1.2rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    min-height: 40px;
    resize: none;

    &:focus {
      outline: none;
      border-color: var(--black);
    }

    &::placeholder {
      font-size: 1.4rem;
      color: var(--dark-gray);
      font-family: inherit;
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 1.2rem;
    color: var(--red);
  }
}
